body{
     
}
#a{
    background-color: rgba(202, 102, 15, 1);
    display: inline-block;
}
#personal_info{
    text-align: left;
    background-color: rgba(35, 206, 177, 1);
    padding: 5px;
    margin:1px;
    border: 3px dotted;
    text-decoration: underline;
}
#p{
    border: 3px dotted rgb(142, 183, 196);
    border-radius: 1%;
    float: left;
    margin-right:5px;
    padding:3px;
    height:80px;
    width:80px;
    border-radius: 5%;
}
#education{
    background-color: rgb(142, 183, 196);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
#skills{
    background-color: rgb(142, 183, 196);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
#Project{
    background-color: rgb(142, 183, 196);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
#certification{
     background-color: rgb(142, 183, 196);
    padding: 5px;
    margin:5px;
    border:3px dotted
}